div{
    background-color: red;
    margin-bottom: 10px;
    max-width: 80%;
    max-height: 90%;
   background-image: url(https://th.bing.com/th/id/OIP.GcFuD23vACCAJh-Z_kQa7QHaFQ?rs=1&pid=ImgDetMain);
}